{% extends 'base.html' %} {% load static %} {% block 'cabecalho' %}
<link href="{% static 'users/css/register.css' %}" rel="stylesheet" />
<link href="{% static 'flashcard/css/new_flashcard.css' %}" rel="stylesheet" />
<link
  href="{% static 'flashcard/css/start_challenges.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'flashcard/css/challenges.css' %}" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
/>
{% endblock 'cabecalho' %} {% block 'conteudo' %}
{% include "partials/header.html" %}
<div class="container ctx">
  <br />
  <br />
  {% if messages %}
  <br />
  {% for message in messages %}
  <section class="alert {{message.tags}}">{{message}}</section>
  <br />
  {% endfor %} {% endif %}
  <br />
  <br />
  <div class="row">
    <div class="col-md">
      <h3 class="fonte-secundaria">Desafio iniciado | {{challenge.id}}</h3>
      {% for flash in challenge.flashcards.all %}
      <span class="badge-categoria">{{flash.flashcard.category}}</span>
      {% endfor %}
      <br />
      <br />
      <br />
      {% for flash in challenge.flashcards.all %}
      <div class="box-new-flashcard {% if flash.answered %}op2{% endif %}">
        <div class="flashcard {{flash.flashcard.css_difficulty}}">
          <div class="flashcard-categoria">{{flash.flashcard.category}}</div>
          <br />
          <br />
          <div class="flashcard-box-item" onclick="flip_card({{flash.id}})">
            <p class="flashcard-item">{{flash.flashcard.question}}</p>
          </div>
          {% if not flash.answered %}
          <div class="responder">
            <a
              href="{% url 'challenge_send_answer' flash.id %}?challenge_answer=0&challenge_id={{challenge.id}}"
              ><i class="bx bxs-x-square icone-vermelho"></i
            ></a>
            <a
              href="{% url 'challenge_send_answer' flash.id %}?challenge_answer=1&challenge_id={{challenge.id}}"
              ><i class="bx bxs-check-square icone-verde"></i
            ></a>
          </div>
          {% else %} {% if flash.got_it_right %}
          <hr />
          <span class="badge bg-success">Parabéns! Acertou!</span>
          {% else %}
          <hr />
          <span class="badge bg-danger">Puxa! Errou!</span>
          {% endif%} {% endif %}
        </div>
        <div class="resposta-flashcard" id="{{flash.id}}">
          {{flash.flashcard.result}}
        </div>
      </div>
      <br />
      <br />
      {% endfor %}
    </div>
    <div class="col-md">
      <h3 class="fonte-secundaria">Resultado</h3>
      <p class="fonte-p">Acertos: {{hits}}</p>
      <p class="fonte-p">Erros: {{wrong}}</p>
      <p class="fonte-p">Faltantes: {{need_to_respond}}</p>
      <br />
      <a class="btn-cadastro btn-desafio" href="{% url 'report' challenge.id %}">Relatório detalhado</a>
    </div>
  </div>
</div>
<script src="{% static 'flashcard/js/flashcard.js' %}"></script>
{% endblock 'conteudo' %}
